/* About Page CSS */
:root {
    --primary-color: #4B3EC4;
    --dark-color: #000000;
    --light-color: #FFFFFF;
    --gray-color: #666666;
    --light-gray: #E2E4EB;
    --border-color: #DEE2E6;
    --purple-color: #4B3EC4;
    --yellow-color: #FFE400;
    --link-color: #0D6EFD;
}

/* General Styling */
body {
    font-family: 'Inter', sans-serif;
    color: var(--dark-color);
    background-color: var(--light-gray);
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.about-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
} */

section {
    margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Breadcrumb */
.breadcrumb {
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    gap: 5px;
}

.breadcrumb a {
    color: #999999;
    font-weight: 700;
    font-size: 14px;
}

.breadcrumb span {
    color: #6C757D;
    font-weight: 700;
    font-size: 14px;
}

.breadcrumb .current {
    color: #000000;
}
/* Main Banner Section */
.main-banner-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: var(--light-color);
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
}

.container-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 15px;
}

.main-card {
    background-color: var(--light-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 30px;
    flex: 3;
    display: flex;
    flex-direction: column;
}

.img-main-card {
    position: relative; /* Set the container to relative positioning */
    max-width: 100%; /* Ensure it doesn't exceed the card's width */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Crop any overflowing content */
}

.img-main-card img {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px;
    object-fit: cover; /* Ensure the image covers the container */
}

.img-main-card .text-overlay {
    position: absolute; /* Position the text over the image */
    top: 60%; /* Center vertically */
    left: 22%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for perfect centering */
    color: rgb(0, 0, 0); /* Text color */
    font-size: 18px; /* Adjust font size as needed */
    font-weight: bold; /* Make the text bold */
    text-align: center; /* Center-align the text */
    z-index: 2; /* Ensure the text is above the image */
}

.about-banner {
    background-image: url('/public/images/about/about-banner-bg.jpg');
    background-size: cover;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 30px;
}

.about-banner h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.about-banner p {
    font-size: 14px;
    color: var(--gray-color);
    line-height: 1.7;
}

h6.purpose {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.8;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding-right: 50px;
}

h6.purpose span {
    color: #4B3EC4;
}

.stats-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.stat-item:not(:last-child) {
    flex: 1;
    padding-right: 15px;
}

.stat-item h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.stat-item p {
    font-size: 12px;
    color: var(--gray-color);
    text-transform: uppercase;
    line-height: 1.7;
}

.img-section {
    flex: 1;
    border-radius: 10px;
    width: 100%;
    height: 100%;

}

.img-section img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
}

.info-card {
    display: flex ;
    flex-direction: column;
    background-color: var(--light-gray);
    border-radius: 10px;
    padding: 30px;
    padding-right: 16px;
    flex: 2;
    /* align-items: center; */
}

.info-card h6 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.info-card p {
    font-size: 14px;
    color: var(--gray-color);
    line-height: 1.8;
    margin-bottom: 30px;
    padding-top: 30px;
}

.showreel-btn {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 12px 25px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-flex;
    align-items: start;
    width: fit-content;
    margin-top: 20px;
    
}

.showreel-btn i {
    margin-right: 5px;
    font-size: 12px;
    padding-top: 2.5px;
}

/* Features Section */
.features-section-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: var(--light-color);
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
}

.container-features {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.feature-item {
    background-color: var(--light-color);
    border-radius: 10px;
    padding: 30px;
    flex: 1;
    min-width: 300px;
    position: relative;
}

.feature-item h6 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.feature-item .icon {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    background-color: var(--primary-color);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-item .icon i {
    color: var(--light-color);
    font-size: 30px;
}

.feature-item p {
    font-size: 14px;
    color: var(--gray-color);
    line-height: 1.8;
}

/* Mission Section */
.mission-section {
    background-color: var(--light-color);
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
}

.mission-section h6 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.mission-section p {
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 30px;
}

.main-content {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.about-image {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.play-button i {
    color: #0360B9;
    font-size: 30px;
}

.years-content {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.timeline-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.col-lg-6 {
    flex: 1;
    min-width: 300px;
}

.timeline-item {
    margin-bottom: 20px;
}

.timeline-item strong {
    font-size: 14px;
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
}

.timeline-item p {
    font-size: 14px;
    color: var(--gray-color);
    margin: 0;
    line-height: 1.8;
}

/* Leadership Section */
.leadership-section {
    background-color: var(--light-color);
    border-radius: 10px;
    padding: 30px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.section-header h6 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    margin: 0;
}

.view-all {
    font-size: 13px;
    color: var(--gray-color);
    display: flex;
    align-items: center;
}

.view-all i {
    margin-left: 5px;
    font-size: 13px;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.team-member {
    flex: 1;
    min-width: 200px;
}

.team-member .img {
    position: relative; /* Ensure proper positioning */
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
    display: flex; /* Center the image if needed */
    justify-content: center;
    align-items: center;
}

.team-member img {
    width: 50%;
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure the image covers the container */
    border-radius: 10px;
}

.team-member h6 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    margin: 10px 0 5px;
    text-align: center; /* Center the text */
}

.team-member small {
    display: block;
    font-size: 12px;
    color: var(--gray-color);
    text-transform: uppercase;
    text-align: center; /* Center the text */
}

@media (max-width: 1199.98px) {
    .about-banner h1 {
        font-weight: 700;
        font-size: 33px;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    
    .about-banner p {
        font-size: 12px;
        color: var(--gray-color);
        line-height: 1.7;
    }

    .img-section {
        flex: 1;
        border-radius: 10px;
        width: 100%;
        height: 100%;
    
    }
    
    .img-section img {
        width: 100%;
        height: 80%;
        object-fit: cover;
        border-radius: 10px;
    }
    
    .info-card {
        display: flex ;
        flex-direction: column;
        background-color: var(--light-gray);
        border-radius: 10px;
        padding: 30px;
        padding-right: 16px;
        flex: 1;
        /* align-items: center; */
    }

    .feature-item {
        flex: 100%;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .img-main-card .text-overlay {
        top: 70%; /* Center vertically */
        left: 22%; /* Center horizontally */
        transform: translate(-50%, -50%); /* Adjust for perfect centering */
    }

    .about-banner h1 {
        font-weight: 700;
        font-size: 25px;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    
    .about-banner p {
        font-size: 8px;
        color: var(--gray-color);
        line-height: 1.7;
    }

    .main-banner-section {
        flex-direction: column;
    }

    .stats-container {
        flex-direction: column;
    }

    .feature-item {
        flex: 100%;
    }
    
    

    .timeline-container {
        flex-direction: column;
    }

    .team-container {
        justify-content: center;
    }

    .team-member {
        flex: 0 0 45%;
    }

    .img-section {
        display: none; /* Hides the element */
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .team-member {
        flex: 0 0 100%;
    }

    .img-main-card .text-overlay {
        top: 80%; /* Center vertically */
        left: 22%; /* Center horizontally */
        transform: translate(-50%, -50%); /* Adjust for perfect centering */
    }

    .about-banner h1 {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    
    .about-banner p {
        font-size: 5px;
        color: var(--gray-color);
        line-height: 1.7;
    }

    .img-section {
        display: none; /* Hides the element */
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .about-banner h1 {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    
    .about-banner p {
        font-size: 5px;
        color: var(--gray-color);
        line-height: 1.7;
    }
}